.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: var(--color-gray);
}
