.app.dark {
  --bg-color: #e70909d6;
  --inverted-bg-color: #252424;

  --primary-color: #474747;
  --secondary-color: #504d4d;
  --inverted-primary-color: #102e8e;
  --inverted-secondary-color: #000661;
}