.app_dark_theme {
  --bg-color: #2f3c7e;
  --inverted-bg-color: #fbeaeb;
  --primary-color: #fffdfd;
  --secondary-color: #000;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #fffdfd;
}
