.app.primary {
  --bg-color: #a2a2c1;
  --inverted-bg-color: #6e9699;

  --primary-color: #102e8e;
  --secondary-color: #000661;
  --inverted-primary-color: #474747;
  --inverted-secondary-color: #504d4d;
}