.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    margin-top: 10px;
}

.loadin, .error {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.AvatarWrapper {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--disabled-color);
}
